$turquoise:#1FB4B5;
$turquoiseLight: #82CACB;
$turquoiseDark: #159B97;
$pink: #DC077C;
$yellow: #EFC411;
$yellowDarker: #D8B316;
$yellowHover: #E5BA05;

$darkestGrey: #252525;
$darkerGrey: #434344;
$mediumGrey: #666666;
$lighterGrey: #E3E3E1;
$lightestGrey: #F0EFEF;