@font-face {
	font-family: 'Nexa Light';
	src: 
		url('../fonts/Nexa-Light/Nexa_Light.eot');
	src: 
		url('../fonts/Nexa-Light/Nexa_Light.eot') format('embedded-opentype'),
		url('../fonts/Nexa-Light/Nexa_Free_Light-webfont.woff2') format('woff2'),
		url('../fonts/Nexa-Light/Nexa_Free_Light-webfont.woff') format('woff'),
		url('../fonts/Nexa-Light/Nexa_Light.ttf') format('truetype'),
		url('../fonts/Nexa-Light/Nexa_Free_Light-webfont.svg') format('svg');
}